
.produce {
    padding: 30px;
    margin: 50px;
    h2{
        text-align: left;
        
    }
    &-input{
        display: flex;
        justify-items: flex-start;
        align-items: flex-start;
        padding: 5px;
        text-align: left;
        
        &-name{
            margin-top: 3px;
            font-size: 16px;
        }
        
        &-checkbox{
            flex-direction: row;
            align-items: flex-start;
        }
        &-submit{
            height: 30px;
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            border: 0px;
            background-color: #5fc999;
            border-radius: 10px;
        }
    }
    &-post{
        width: 600px;
        margin: 10px;
        border-top: 2px solid #5fc999;
        border-collapse: collapse;
        
        th{
            background-color: #5fc999;
            color: aliceblue;
            width: 150px;
            border: 1px solid #5fc999;

        }
        td{
            width: 150px;
            border: 1px solid rgb(225, 225, 225)
        }
        
    }
}