@import '../../styles/variables.scss';

main.post-component {
    display: flex;
    border: solid 1px $border-color;
    margin: 30px;
    padding: 1rem;
    background-color: rgb(217, 224, 229);

    .item-post {
        width: 50%;
    }
    button {
        border: solid 1px black;
        color: red;
        font-weight: bold;
        padding: 10px;

        &:hover {
            color: rgb(57, 225, 144);
        }
    }
}